local.pri
.*
!/.gitignore
*.o
tmp/
moc/
obj/
Makefile*
qwtplot3d/
bin/
lib/
build.log
gui/qrc_images.cpp
/programs/us/us_revision.h
/us_somo/develop/include/us_version.h
*~
*.pro.user
*object_script*

/admin/codeql/custom-queries/cpp/codeql-pack.lock.yml
/cmake-build-debug/
/test/utils/Testing/
/utils/latex/
/build/
/build-docker/
/cmake-build-debug/
