manage	149.165.228.181:8081/portal/app/idservice/user
server	149.165.228.181:8080
system	alamo
corespernode	4
ftp	149.165.228.181:2222
maxcores	52
maxruntime	60000
queue	default
runtime	60000
stage	alamo.uthscsa.edu:/mnt/glusterfs/ussomo/jobs
type	mpi
system	lonestar
corespernode	12
ftp	149.165.228.181:2222
maxcores	4104
maxruntime	1440
queue	normal
runtime	600
stage	lonestar.tacc.teragrid.org:/scratch/01314/ultrasca/ussomo/jobs
type	mpi
system	lonestar-12-core
corespernode	12
ftp	149.165.228.181:2222
maxcores	12
maxruntime	1440
queue	normal
runtime	1440
stage	lonestar.tacc.teragrid.org:/scratch/01314/ultrasca/ussomo/jobs
type	mpi
system	lonestar-cuda
corespernode	12
executable	us_saxs_cmds_mpi_cuda
ftp	149.165.228.181:2222
maxcores	48
maxruntime	1440
queue	gpu
runtime	600
stage	lonestar.tacc.teragrid.org:/scratch/01314/ultrasca/ussomo/jobs
type	mpi
system	ranger
corespernode	16
ftp	149.165.228.181:2222
maxcores	4096
maxruntime	1440
queue	normal
runtime	600
stage	ranger.tacc.teragrid.org:/scratch/01314/ultrasca/ussomo/jobs
type	mpi
