<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>

  <key>CFBundleExecutable</key>
  <string>UltraScan3</string>

  <key>CFBundleIdentifier</key>
  <string>com.aucsolutions.ultrascan3.launcher</string>

  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>

  <key>CFBundleName</key>
  <string>UltraScan3</string>

  <key>CFBundleDisplayName</key>
  <string>UltraScan3</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>

  <key>CFBundleSignature</key>
  <string>????</string>

  <key>CFBundleIconFile</key>
  <string>us3-icon</string>

  <key>LSUIElement</key>
  <false/>
</dict>
</plist>