body
{
	margin-left: 5 px;
	margin-right: 5 px;
	margin-top: 0 px;
	text-align: justify;
	background-color: white;
}

H3
{
   font-style: italic;
   font-weight: bold;
   font-size: larger;
}

li
{
   text-align: left;
}

