body 
{ 
  margin-left      : 1em;
  margin-right     : 1em;
  margin-top       : 1em;
  text-align       : justify;
  background-color : white;
  color            : black;
}

div.footer
{
  padding         : 0.2em 1em;
  margin          : 0px 10%;
  background-color: #f8f8f8; /* Light Gray */
  font-size       : 80%;
  font-family     : "trebuchet ms", arial, helvetica sans-serif;
}

div.header
{
  margin           : 0px 5%;
  font-style       : italic;
  font-size        : 300%;
}

.center   
{ 
  text-align      : center; 
}

a:link    { color : #0000EF; }  /* Slightly dark blue */
a:visited { color : #55188A; }  /* Maroon */
a:active  { color : red;     }

img       { border: none; }

/* Qt Assistant specific overrides */
p {
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
}

/* table styling with broad compatibility */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
  font-family: "trebuchet ms", arial, helvetica, sans-serif;
  border: 1px solid #ddd;
}

th, td {
  padding: 0.75em;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

/* Alternate styling for even rows (with class fallback for older browsers) */
tr:nth-child(even), tr.even {
  background-color: #f8f8f8;
}

/* Simple hover that works almost everywhere */
tr:hover {
  background-color: #f1f1f1;
}
